<!DOCTYPE html>
<html>
  <head>
    <title>FindPandit</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>
    <main>
      <section id="home">
        <h1>Welcome to FindPundit</h1>
        <p>FindPandit is the ultimate tool for finding a Pundit to perform pooja,hawan or any spiritual activity outside India.</p>
        <img src="static/img/pundit.png" alt="FindPundit logo">
        <a href="#search">Start Searching</a>
      </section>
      <section id="about">
        <h1>About FindPundit</h1>
        <p>FindPundit was created to help users easily find a pandit outside India.This is mainly for NRIs.</p>
        <img src="static/img/search-icon.png" alt="Search icon">
      </section>
      <section id="contact">
        <h1>Contact Us</h1>
        <p>For support or any other inquiries, please email us at contact@findmex.com.</p>
        <img src="static/img/email-icon.png" alt="Email icon">
      </section>
      <section id="search">
        <h1>Search</h1>
        <form>
          <input type="text" placeholder="What are you looking for?" id="search-input">
          <button type="submit" onclick="search()">Search</button>
        </form>
      </section>
    </main>
    <footer>
      <p>Copyright © 2021 FindMeX</p>
    </footer>
    <script src="static/js/app.js"></script>
  </body>
</html>